[submodule "az3166-devkit-sdk"]
	path = az3166-devkit-sdk
	url = git@github.com:fmuntean/az3166-devkit-sdk.git
[submodule "az3166-devkit-app"]
	path = az3166-devkit-app
	url = git@github.com:fmuntean/az3166-devkit-app.git
